:root {
  --text-color: #434455;
  --main-color: #2e2f42;
  --violet-color: #404bbf;
  --btn-color: #4d5ae5;
  --main-white-color: #ffffff;
  --white-color: #f4f4fd;
  --footer-text-color: #e7e9fc;
  --bg-gradient: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7));
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --input-text-color: #8e8f99;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background-color: var(--main-white-color);
  color: var(--main-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
  transition: color var(--transition);
}

.no-scroll {
  overflow: hidden;
}

.header-link {
  transition: color var(--transition);
}

.header-link:hover,
.header-link:focus {
  color: var(--btn-color);
}

.link:hover,
.link:focus {
  color: var(--btn-color);
}

.work-btn:hover,
.work-btn:focus {
  background-color: var(--violet-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.container {
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}

section {
  padding-top: 96px;
  padding-bottom: 96px;
}

/* HEADER */

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  word-spacing: -4px;
  margin-right: 76px;
}

.logo-part {
  font-weight: 800;
  color: var(--btn-color);
}

.logo-white {
  font-weight: 800;
  color: var(--main-color);
}

.header {
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  align-items: center;
  padding: 24px 16px;
}

.header-navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.header-list {
  display: none;
}



.web {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.7;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--btn-color);
}

.studio {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.7;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}

.header-list > .header-contact {
  display: none;
}



.menu-open {
  width: 32px;
  height: 22px;
  padding: 0;
  background-color: transparent;
  border: none;
}

.menu-open-icon {
  stroke: #2e2f42;
}

.mob-menu {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background-color: var(--main-white-color);
}

.mob-menu> .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
  padding: 40px;
}

.menu-close {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-bottom: 16px;
}

.menu-close-icon {
}

.mob-menu-list {
  flex-direction: column;
  /* margin-bottom: 284px; */
}

.mob-menu-item:not(:last-child) {
  margin-bottom: 40px;
}

.mob-menu-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--main-color);
}

.mob-menu-contacts {

}

.mob-menu-item-mail {
  display: block;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
  margin-bottom: 48px;
}

.mob-menu-tel {
  font-weight: 500;
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
  color: var(--btn-color);
  display: inline-block;
  margin-bottom: 40px;
}

.mob-soc-list {
  display: flex;
  gap: 56px;
}

.mob-soc-item {
  width: 40px;
  height: 40px;
}

.mob-soc-link {
    width: 100%;
      height: 100%;
      background-color: var(--btn-color);
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: background-color var(--transition);
}

.menu-soc-icon {
  width: 24px;
  height: 24px;
  fill: var(--main-white-color);
}

/* MAIN CONTENT*/


.work {
  background-color: var(--main-color);
  background-image: var(--bg-gradient), url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 112px;
  padding-bottom: 112px;
}

.work-hidden {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--main-white-color);
  width: 320px;
  margin-left: auto;
  margin-right: auto;
}

.work-btn {
  min-width: 169px;
  height: 56px;
  background-color: var(--btn-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.04em;
  color: var(--main-white-color);
  border: none;
  cursor: pointer;
  margin-top: 48px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color var(--transition), box-shadow var(--transition);
}

.turn-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 72px;
}

.turn-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--main-color);
  text-align: center;
  margin-bottom: 8px;
}

.turn-after-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
  min-width: 264px;
}

.adventures-img {
  display: none;
}

.photo {
  display: none;
}


/* PEOPLE */

.people {
  background-color: var(--white-color);
  padding-top: 96px;
  padding-bottom: 128px;
}

.people-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px;
}

.people-item {
  background-color: var(--main-white-color);
  /* width: calc((100% - 72px) / 4); */
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.people-desc {
  padding: 32px 16px;
}

.people-title-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--main-color);
  margin-bottom: 72px;
}

.people-title-person {
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--main-color);
  margin-bottom: 8px;
}

.people-under-title {
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--text-color);
  margin-bottom: 8px;
}

.people-soc-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.people-soc-item {
  width: 40px;
  height: 40px;
}

.people-soc-link {
  width: 100%;
  height: 100%;
  background-color: var(--btn-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color var(--transition);
}

.people-soc-icon {
  fill: var(--white-color);
}

.people-soc-link:focus {
  background-color: var(--violet-color);
}

/* -------CUSTOMERS--------- */


.customers {
  padding-top: 96px;
  padding-bottom: 96px;
}

.customers-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--main-color);
  margin-bottom: 72px;
}


.customers-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 16px;
  row-gap: 72px;
}

.customers-item {
  width: calc((100% - 16px) / 2);
  height: 88px;
}

.customers-link {
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #8e8f99;
  transition: border-color var(--transition);
}

.customers-icon {
  fill: #8e8f99;
  transition: fill var(--transition);
}

.customers-link:hover,
.customers-link:focus {
  border-color: var(--violet-color);
  color: var(--violet-color);
}

.customers-link:hover .customers-icon,
.customers-link:focus .customers-icon {
  fill: var(--violet-color);
}

/* FOOTER */

.footer {
  background-color: var(--main-color);
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  word-spacing: -4px;
}

.footer-logo-web {
  color: var(--btn-color);
}

.footer-logo-studio {
  color: var(--white-color);
}

.footer-under-title {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--footer-text-color);
  margin-top: 16px;
  width: 264px;
}

.social-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-white-color);
  margin-bottom: 16px;
}

.social-media-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.footer-icon {
}

.social-media-item {
  width: 40px;
  height: 40px;
}

.social-media-link {
  width: 100%;
  height: 100%;
  fill: var(--white-color);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color var(--transition);
}

.social-media-link:hover,
.social-media-link:focus {
  background-color: #31d0aa;
}

.footer-block {
  display: flex;
  gap: 72px;
}

.footer-content {
 
}

.footer-subscribe {
 
}

.online-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-email {
  width: 320px;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  background-color: transparent;
  color: var(--footer-text-color);
  transition: color var(--transition);
  margin-bottom: 16px;
}

.footer-email:placeholder {
  font-size: 12px;
  line-height: 22;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-btn {
  width: 165px;
  height: 40px;
  background: var(--btn-color);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 8px 24px;
  gap: 16px;
  transition: background-color var(--transition);
}

.footer-btn:hover,
.footer-btn:focus {
  background-color: var(--violet-color);
}

.footer-icon {
  fill: #ffffff;
}

/* PORTFOLIO */

/* main content*/

.portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}

.visually-hidden {
}

.portfolio-choose {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-bottom: 72px;
}

.portfolio-choose-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  background-color: var(--white-color);
  color: var(--btn-color);
  border: none;
  cursor: pointer;
  border: 1px solid var(--footer-text-color);
  border-radius: 4px;
  padding: 12px 24px;
  transition: background-color var(--transition), color var(--transition),
    border-color var(--transition), box-shadow var(--transition);
}

.portfolio-choose-btn:hover,
.portfolio-choose-btn:focus {
  background-color: var(--btn-color);
  color: var(--main-white-color);
  border-color: transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-photo-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
  justify-content: center;
}

.portfolio-box {
  border: 1px solid var(--footer-text-color);
  border-top-width: 0px;
  padding: 32px 16px;
}

.portfolio-link {
}

.potfolio-top-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white-color);
  position: absolute;
  top: 0;
  padding-top: 40px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 164px;
  background-color: var(--btn-color);
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms linear;
}

.potfolio-top-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-photo-item {
  transition: box-shadow var(--transition);
}

.portfolio-photo-item:hover .potfolio-top-text {
  transform: translateY(0);
}

.portfolio-photo-item:hover,
.portfolio-photo-item:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-photo-title {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-color);
  margin-bottom: 8px;
}

.portfolio-photo-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

/*   MODAL  */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms linear, visibility 250ms linear;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  min-height: 576px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms linear;
  padding: 24px;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scaleY(0);
}

.modal-close {
  width: 24px;
  height: 24px;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color var(--transition);
  display: block;
  margin-left: auto;
  margin-bottom: 24px;
}

.modal-close:hover,
.modal-close:focus {
  background-color: var(--violet-color);
}

.modal-close:hover .modal-icon,
.modal-close:focus .modal-icon {
  fill: var(--main-white-color);
}

.modal-icon {
  fill: #000;
  transition: fill var(--transition);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-title {
  font-size: 16px;
  font-weight: 500;
  color: var(--main-color);
  text-align: center;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.modal-form {
  text-align: center;
}

.modal-input {
  width: 100%;
  height: 40px;
  background-color: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 12px;
  color: rgba(117, 117, 117, 0.5);
  padding-left: 38px;
  color: var(--text-color);
  outline: none;
}

.modal-input:focus {
  border-color: var(--btn-color);
}

.modal-input:focus + .input-icon {
  fill: var(--btn-color);
}

.input-wrap {
  position: relative;
}

.input-icon {
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 16px;
}

.modal-field {
  margin-bottom: 8px;
}

.input-text {
  display: flex;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: var(--input-text-color);
  margin-bottom: 4px;
}

.modal-comment {
  display: block;
  width: 100%;
  height: 120px;
  background-color: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  padding-top: 8px;
  padding-left: 16px;
  margin-bottom: 16px;
  color: var(--text-color);
  resize: none;
  transition: border-color var(--transition);
}

.modal-comment::placeholder {
  font-size: 12px;
  line-height: 1.3px;
  letter-spacing: 0.04em;
  color: var(--input-text-color);
  padding-top: 8px;
}

.modal-comment:focus {
  border-color: var(--btn-color);
}

.check-text {
  font-weight: 400;
  font-size: 12px;
  display: flex;
  line-height: 1.3;
  letter-spacing: 0.04em;
  color: #757575;
  align-items: center;
}

.check-text span {
  width: 16px;
  height: 16px;
  border: 1.25px solid var(--main-color);
  border-radius: 2px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.input-check:checked + .check-text span {
  background-color: var(--violet-color);
  border: none;
  fill: var(--white-color);
}

.modal-link {
  color: var(--btn-color);
}

.modal-btn {
  min-width: 169px;
  height: 56px;
  background-color: var(--btn-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.04em;
  color: var(--main-white-color);
  border: none;
  cursor: pointer;
  margin-top: 24px;
  transition: background-color var(--transition), box-shadow var(--transition);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--violet-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.online-text {
  width: 264px;
  height: 40px;
  border: none;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  resize: none;
}

/* ---------------MEDIA---------------

@media screen and (min-width: 480px) {
  .container {
    width: 428px;
  }
}


@media screen and (min-width: 768px) {
  .container {
    width: 576px;
  }

  .people {
   background-color: var(--white-color);
   padding-top: 96px;
   padding-bottom: 96px;
  }

  .people-item {
   width: calc((100% - 24px) / 2);
   row-gap: 64px;
   column-gap: 24px;
  }

  .customers {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .customers-item {
    width: calc((100% - 48px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }

  .people {
    background-color: var(--white-color);
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .people-item {
    width: calc((100% - 96px) / 4);
  }

  .customers {
    padding-top: 120px;
    padding-bottom: 120px;
  }
    
  .customers-item {
    width: calc((100% - 120px) / 6);
  }
} */
