@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }

  .header-list {
    display: flex;
    gap: 40px;
  }

  .header .container {
    display: flex;
    padding-bottom: 0;
    padding-top: 0;
  }

  .menu-open {
    display: none;
  }

  .mob-contact {
    display: flex;
    flex-direction: column;
  }

  .header-item-tel,
  .header-item-mail {
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: #434455;
  }

  .header-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-color);
    position: relative;
    transition: color var(--transition);
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .header-link.current {
    color: var(--violet-color);
  }

  .header-link.current::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--violet-color);
    left: 0;
    bottom: 0;
    border-radius: 2px;
  }

  .header-item {
  }

  .header-item:last-child {
    margin-right: 0;
  }

  .modal {
    max-width: 408px;
  }
  .work {
    background-image: var(--bg-gradient), url(../images/hero-bg-tab.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .work {
      background-image: var(--bg-gradient), url(../images/hero-bg-tab-2x.jpg);
    }
  }

  .work-hidden {
    min-width: 496px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
  }

  .turn-title {
    text-align: left;
  }

  .turn-after-title {
    width: 356px;
    text-align: left;
  }

  .turn-list {
    column-gap: 24px;
  }

  .people {
    padding-bottom: 104px;
  }

  .people-list {
    column-gap: 24px;
  }

  .people-item {
    row-gap: 64px;
  }

  .customers > .container {
    width: 552px;
  }

  .customers {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .customers-item {
    width: calc((100% - 48px) / 3);
  }

  .footer-blocks {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: left;
    align-items: flex-start;
    row-gap: 72px;
    column-gap: 24px;
  }

  .footer-under-title {
    text-align: left;
  }

  .online-form {
    flex-direction: row;
    align-items: flex-start;
  }

  .footer-email {
    width: 264px;
    margin-right: 24px;
  }

  .footer-subscribe {
    max-width: 453px;
    margin-right: 36px;
  }
}
